# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Frontend/Node
node_modules/
frontend/node_modules/
frontend/dist/
.eslintcache

# Local database caches and synced files (downloaded dynamically in cloud)
backend/qfield_cloud_config.json
cloud/
scratch/
*.gpkg
*.qgs
*.qgz
DCIM/
audio/

# Editor / System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Aiven Kafka Credentials and Local SQLite Databases
*Service URI*
~$*
backend/*.db
backend/*.db-journal
